@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: navy;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://www.world-grain.com/ext/resources/2023/01/20/America-farm_MAKSYMOWICZ---STOCK.ADOBE.COM_e.webp?height=667&t=1674227014&width=1080");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



